<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :category_id, 'Type of Work' %><br>
    <%= f.collection_select(:category_id, Category.all, :id, :name, prompt: true) %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, autofocus: true, placeholder: "e.g. Broken Toilet" %>
  </div>
  <div class="field">
    <%= f.label :budget %><br>
    <%= f.number_field :budget, placeholder: "e.g. 3000" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description,  placeholder: "e.g. I need a plumber to come and fix my toilet ASAP (optional)" %>
  </div>
  <div class="field">
    <%= f.label :listing_image %><br>
    <%= f.file_field :listing_image %>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
