<p id="notice"><%= notice %></p>

<div class = "info-container">
<p>
  <strong>Title:</strong>
  <%= @listing.title %> by <%= link_to @listing.user.first_name, user_path(@listing.user)   %>
</p>

<% if @listing.try(:booking) != nil %>
<p>
  <%= link_to 'View Booking', booking_path(@listing.try(:booking))  %>
</p>
<% end %>

<p>
  <strong>Budget:</strong>
  ₦<%= @listing.budget %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @listing.try(:status) %>
</p>

<p>
  <strong>Category: </strong>
  <%= link_to @listing.category.name, category_path(@listing.category)  %>
</p>

<% if @listing.listing_image != nil %>
<p>
  <%= image_tag @listing.listing_image.url %>
</p>
<% end %>


</div>


<% if can? :create, Offer.new %>
  <%= form_for Offer.new do |offer_form|%>
    Price : ₦<%= offer_form.number_field :price %>

  <%= offer_form.hidden_field :listing_id, :value => @listing.id %>
  <%= offer_form.hidden_field :user_id, :value => current_user.id %>
  <div class="actions">
    <%= offer_form.submit %>
  </div>
  <% end %>
<% end %>


<table class = "tables">
  <thead>
    <tr>
      <th>Price</th>
      <th>Contractor</th>
      <th>Distance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td>₦<%= offer.price %></td>
        <td><%= User.where(id: offer.user_id).map {|user| user.first_name}.join(",") %></td>
        <td>
          <% if current_user.try(:geocoded?)%>
            <%= current_user.distance_from(offer.user).round(2) %> miles 
          <% end %>
        </td>


        <% if can? :update, @listing %>
        <td>
          <%= form_for offer, method: :patch do |f| -%>
            <%= f.hidden_field :listing_id, :value => offer.listing_id -%>
            <%= f.hidden_field :offer_id, :value => offer.id -%>
            <%= f.hidden_field :price, :value => offer.price -%>
            <%= f.hidden_field :status, :value => 'accepted' -%>
            <%= f.submit 'Accept' %>
          <% end -%>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>

</table>


<% if can? :edit, @listing %>
<%= link_to 'Edit', edit_listing_path(@listing) %> |
<% end %>
<%= link_to 'Back', listings_path %>
