<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %> by <%= link_to @listing.user.first_name, user_path(@listing.user)   %>
</p>

<% if @listing.try(:booking) != nil %>
<p>
  <%= link_to 'View Booking', booking_path(@listing.try(:booking))  %>
</p>
<% end %>

<p>
  <strong>Budget:</strong>
  <%= @listing.budget %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @listing.image %>
</p>

<p>
  <strong>Status:</strong>
  <%= @listing.status %>
</p>

<p>
  <strong>Client:</strong>
  <%= @listing.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category_id %>
</p>


<% if can? :create, @listing.offers.new %>
<%= form_for Offer.new do |offer_form|%>
  Price : <%= offer_form.number_field :price %>
  Total Hours: <%= offer_form.number_field :hours %>
  <%= offer_form.hidden_field :listing_id, :value => @listing.id %>
  <%= offer_form.hidden_field :user_id, :value => current_user.id %>
  <div class="actions">
    <%= offer_form.submit %>
  </div>
<% end %>
<% end %>


<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Status</th>
      <th>User</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.price %></td>
        <td><%= offer.hours %></td>
        <td> <%= offer.user_id %></td>
        <td><%= User.where(id: offer.user_id).map {|user| user.first_name}.join(",") %></td>
        <td><%= link_to 'Show', offer_path %></td>

         
        <% if can? :update, @listing %>
        <td>
          <%= form_for offer, method: :patch do |f| -%>
            <%= f.hidden_field :listing_id, :value => offer.listing_id -%>
            <%= f.hidden_field :offer_id, :value => offer.id -%>
            <%= f.hidden_field :price, :value => offer.price -%>
            <%= f.hidden_field :status, :value => 'accepted' -%>
            <%= f.submit 'Accept' %>
          <% end -%>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<% if can? :edit, @listing %>
<%= link_to 'Edit', edit_listing_path(@listing) %> |
<% end %>
<%= link_to 'Back', listings_path %>
