<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @listing.budget %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @listing.image %>
</p>

<p>
  <strong>Status:</strong>
  <%= @listing.status %>
</p>

<p>
  <strong>Client:</strong>
  <%= @listing.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category_id %>
</p>



<%= form_for @offer do |offer_form|%>
    Price : <%= offer_form.number_field :price %>
    Total Hours: <%= offer_form.number_field :hours %>
    
    <%= offer_form.hidden_field :user_id, :value => current_user.id %>
  <div class="actions">
      <%= offer_form.submit %>
  </div>
<% end %>


<%= link_to 'Make a Bid', new_offer_path  %>

<p>Number of offers <%= @listing.offers.count %> </p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
