<table class="tables">
  <thead>
    <tr><h3>Active Projects</h3></tr>
    <tr>
      <th>Title</th>
      <th>Contractor</th>
      <th>Winning Bid</th>
      <th>Status</th>
      
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
    <% if booking.status == 'active' %>
      <tr>
        <td><%= link_to booking.listing.title, booking_path(booking) %></td>
        <td><%= link_to booking.offer.user.first_name, user_path(booking.offer.user) %></td>
        <td><span class="badge-notice">₦<%= link_to booking.offer.price , booking_path(booking)  %></span></td>
        <td><span class="badge-alert"><%= booking.status %></span></td>
        
        <% if can? :edit, booking %>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <% end %>
        
        <% if can? :destroy, booking %>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>



<table class = "tables">
  <thead>
    <tr><h3>Completed Projects</h3></tr>
    <tr>
      <th>Title</th>
      <th>Contractor</th>
      <th>Winning Bid</th>
      <th>Status</th>
      
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
    <% if booking.status == 'complete' %>
      <tr>
        <td><%= link_to booking.listing.title, booking_path(booking) %></td>
        <td><%= link_to booking.offer.user.first_name, user_path(booking.offer.user) %></td>
        <td><span class="badge-notice">₦<%= link_to booking.offer.price , booking_path(booking)  %></span></td>
        <td><span class="badge-success"><%= booking.status %></span></td>
        
        <% if can? :edit, booking %>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <% end %>
        
        <% if can? :destroy, booking %>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


  

<br>

<% if can? :create, @booking %>
  <%= link_to 'New Booking', new_booking_path %>
<% end %>
