<h1>Bookings</h1>

<table>
  <thead>
    <tr>
      <th>Tile</th>
      <th>Contractor</th>
      <th>Winning Bid</th>
      <th>Status</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= link_to booking.listing.title, booking_path(booking) %></td>
        <td><%= link_to booking.offer.user.first_name, user_path(booking.offer.user) %></td>
        <td>₦<%= link_to booking.offer.price , booking_path(booking)  %></td>
        <td><%= booking.status %></td>
        
        <% if can? :edit, booking %>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <% end %>
        
        <% if can? :destroy, booking %>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, @booking %>
  <%= link_to 'New Booking', new_booking_path %>
<% end %>
