<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @booking.listing.title %> by <%= link_to @booking.listing.user.first_name, user_path(@booking.listing.user)  %>
  <% if current_user == @booking.offer.user %> 
  Call me on <%= @booking.listing.user.phone_number %>
  <% end %> 
</p>

<p>
  <strong>Contractor:</strong>
  <%= link_to @booking.offer.user.first_name, user_path(@booking.offer.user) %>. 
 <% if current_user == @booking.listing.user %> 
 Call me on <%= @booking.offer.user.phone_number %>
 <% end %>
</p>


<p>
  <strong>Agreed Price ₦:</strong>
  <%= @booking.offer.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @booking.listing.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @booking.status %>
</p>

<p>
  <strong>Category: </strong>
  <%= link_to @booking.listing.category.name, category_path(@booking.listing.category)  %>
</p>

<% if @booking.listing.listing_image %>
<p>
  <%= image_tag @booking.listing.try(:listing_image).url %>
</p>
<% end %>





<% if can? :update, @booking, %>
  <%= form_for :booking, url: booking_path(@booking), method: :patch, data: {confirm: "All payments released are final. Press Ok to release money"} do |f| %>
      <%= f.hidden_field :status, :value => 'complete' %>
      <%= f.submit 'Make Final Payment' %>
<% end %>
<% end %>

<div>
  <% if can? :score_originality, @booking %>
    <h4>How would you rate the other party?</h4>

    <ul id="originality-buttons">
      <% ['Terrible (1)', 'Not Good (2)', 'Average (3)', 'Enjoyable (4)', 'Amazing (5)' ].each_with_index do |text, index| %>
        <li><%= form_for @booking, url: originality_rating_booking_path(@booking), method: :put, remote: true, html: { class: "originality_score_form" } do |f| %>
            <%= tag(:input, :type => "hidden", :name => :vote_weight, :value => (index + 1) ) %>
            <%= f.submit text, class: "submit_originality_rating" %>
          <% end %></li>
      <% end %>
    </ul>
    <% elsif current_user %>
    <p>You can't vote on the originality of your own booking!</p>
    <% else %>
    <p>Sign in to vote on the originality of this booking</p>
    <% end %>
    <hr>
    <h5>Current score: <span id="originality_score"> <%= render :template => "bookings/originalityscore" %></span></h5>
</div>

<li class="tab-header-and-content">
  <a href="javascript:void(0)" class="tab-link">Comments (<%= @booking.root_comments.count %>)</a>
  <div class="tab-content">
    <% if can? :comment_on, @booking %>
      <h4>Write a Comment:</h4>
      <%= form_for([@booking, Comment.new]) do |f| %>
        <%= render partial: '/comments/form', locals: { f: f } %>
      <% end %>
      <% elsif current_user == nil %>
      <%= link_to "Login to comment", new_user_session_path %> |
    <% end %>
    <%= render partial:'comments/comment', :collection => @comments, :as => :comment %>    
  </div>
</li>



<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
<% if can? :destroy, @booking %>
<td><%= link_to 'Destroy', Booking, method: :delete, data: { confirm: "Are you sure? All records for this booking, including any ratings will be destroyed" } %></td>
<% end %>


