<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @booking.listing.title %> by <%= link_to @booking.listing.user.first_name, user_path(@booking.listing.user)  %> 
</p>

<p>
  <strong>Contractor:</strong>
  <%= link_to @booking.offer.user.first_name, user_path(@booking.offer.user) %>
</p>

<p>
  <strong>Budget ₦:</strong>
  <%= @booking.listing.budget %>
</p>

<p>
  <strong>Description:</strong>
  <%= @booking.listing.description %>
</p>

<% if @booking.listing.image %>
<p>
  <strong>Image:</strong>
  <%= @booking.listing.try(:image) %>
</p>
<% end %>




<p>
  <strong>Listing:</strong>
  <%= @booking.listing_id %>
</p>

<p>
  <strong>Offer:</strong>
  <%= @booking.offer_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @booking.status %>
</p>

<% if can? :update, @booking, %>
  <%= form_for :booking, url: booking_path(@booking), method: :patch, data: {confirm: "All payments released are final. Press Ok to release money"} do |f| %>
      <%= f.hidden_field :status, :value => 'complete' %>
      <%= f.submit 'Make Final Payment' %>
<% end %>
<% end %>

<li class="tab-header-and-content">
  <a href="javascript:void(0)" class="tab-link">Comments (<%= @booking.root_comments.count %>)</a>
  <div class="tab-content">
    <% if can? :comment_on, @booking %>
      <h4>Write a Comment:</h4>
      <%= form_for([@booking, Comment.new]) do |f| %>
        <%= render partial: '/comments/form', locals: { f: f } %>
      <% end %>
      <% elsif current_user == nil %>
      <%= link_to "Login to comment", new_user_session_path %> |
    <% end %>
    <%= render partial:'comments/comment', :collection => @comments, :as => :comment %>    
  </div>
</li>



<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
<% if can? :destroy, @booking %>
<td><%= link_to 'Destroy', Booking, method: :delete, data: { confirm: "Are you sure? All records for this booking, including any ratings will be destroyed" } %></td>
<% end %>


