<p id="notice"><%= notice %></p>

<p>
  <strong>Listing:</strong>
  <%= @booking.listing_id %>
</p>

<p>
  <strong>Offer:</strong>
  <%= @booking.offer_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @booking.status %>
</p>

<% if can? :update, @booking, %>
  <%= form_for :booking, url: booking_path(@booking), method: :patch, data: {confirm: "All payments released are final. Press Ok to release money"} do |f| %>
      <%= f.hidden_field :status, :value => 'complete' %>
      <%= f.submit 'Make Final Payment' %>
<% end %>
<% end %>



<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
<% if can? :destroy, @booking %>
<td><%= link_to 'Destroy', Booking, method: :delete, data: { confirm: "Are you sure? All records for this booking, including any ratings will be destroyed" } %></td>
<% end %>


