<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.first_name %> <%= @user.last_name %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @user.avatar %>
</p>


<% if @user.contractor != nil && @user.contractor.status == 'active' %>
<p>
  <strong>Job Category:</strong>
  <%= @user.try(:contractor).try(:category).try(:name) %>
</p>
<% end %>

<% if @user.contractor != nil && @user.contractor.status == 'active' %>
<p>
  <strong>Hourly Wage:</strong>
  ₦<%= @user.try(:contractor).try(:wage) %>
</p>
<% end %>

<% if @user.contractor != nil && @user.contractor.status == 'active' %>
<p>
  <strong>Status:</strong>
  <%= @user.contractor.status %>
</p>
<% end %>



<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>


<% if @user.contractor != nil && @user.contractor.status == 'active' %>
<p>
  <strong>Certification</strong>
  <%= @user.try(:contractor).try(:certified) %>
</p>
<% end %>

<% if @user.contractor != nil && @user.contractor.status == 'active' %>
<p>
  <strong>Verified by SpeciaList™</strong>
  <%= @user.try(:contractor).try(:verified) %>
</p>
<% end %>


<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @user.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @user.longitude %>
</p>

<% if @user.contractor != nil %>
<% if can? :update, @user %>
<% if @user.contractor.try(:status) == 'active' %>
<%= form_for @user.contractor, method: :patch do |f| %>
  <%= f.hidden_field :status, :value => nil -%>
  <%= f.submit 'Disable Contractor Profile' %>
<% end %>
<% end %>

<% if @user.contractor.try(:status) != 'active' %>
<%= form_for @user.contractor, method: :patch do |f| %>
  <%= f.hidden_field :status, :value => 'active' -%>
  <%= f.submit 'Enable Contractor Profile' %>
<% end %>
<% end %>
<% end %>
<% end %>

<table>
  <h2>Active Listings</h2>
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Contractor</th>
      <th>Category</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.listings.each do |listing| %>
    <% if listing.status == "uncontracted" %>
      <tr>
        <td> <%= link_to listing.title, listing_path(listing)  %> </td>
        <td><%= listing.try(:status) %></td>

        <% if listing.booking != nil %>
        <td> <%= link_to listing.try(:booking).try(:offer).try(:user).try(:first_name), user_path(listing.try(:booking).try(:offer).try(:user))  %> </td>
        <%else%>
          <td> <p>TBD</p></td>
        <% end %>
        <td> <%= link_to listing.category.name, category_path(listing.category) %> </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<table>
  <h2>My Bookings</h2>
  <thead>
    <tr>
      <th>Title</th>
      <th>Total Cost (₦)</th>
      <th>Status</th>
      <th>Contractor</th>
      <th>Category</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.listings.each do |listing| %>
    <% if listing.booking %>
      <tr>
        <td> <%= link_to listing.title, booking_path(listing.booking)  %> </td>
        <td> ₦<%= listing.booking.offer.price %></td>
        <td><%= listing.booking.try(:status) %></td>

        <% if listing.booking != nil %>
        <td> <%= link_to listing.booking.try(:offer).try(:user).try(:first_name), user_path(listing.try(:booking).try(:offer).try(:user))  %> </td>
        <%else%>
          <td> <p>TBD</p></td>
        <% end %>
        <td> <%= link_to listing.category.name, category_path(listing.category) %> </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


<% if can? :update, @user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>

<%= link_to 'Back', users_path %>
