<p id="notice"><%= notice %></p>

<div class = "info-container">
<p>
  <%= @user.first_name %> <%= @user.last_name %>
</p>

<p>
  
</p>

<div id="user_avatar">
  <%= link_to image_tag(@user.user_avatar.thumb.url) %>
</div>

<% if @user.contractor != nil && @user.contractor.status == 'active' %>
  <strong><p>Avg. Rating: </strong><%=@user.vote_weight_avg  %></p>
<% end %>


<% if @user.contractor != nil && @user.contractor.status == 'active' %>
<p>
  <strong>Job Category:</strong>
  <%= @user.try(:contractor).try(:category).try(:name) %>
</p>
<% end %>

<% if @user.contractor != nil && @user.contractor.status == 'active' %>
<p>
  <strong>Hourly Wage:</strong>
  ₦<%= @user.try(:contractor).try(:wage) %>
</p>
<% end %>

<% if @user.contractor != nil && @user.contractor.status == 'active' %>
<p>
  <strong>Status:</strong>
  <span class="badge-success"><%= @user.contractor.status %></span>
</p>
<% end %>

<% if @user.contractor && @user.contractor.status == 'active' %>
<td> <strong>Expertise:</strong> <%= raw @user.contractor.try(:tag_list).map {|t| link_to t, tag_path(t)}.join(', ') %></td>
<% end %>


<% if can? :update, @user  %>
<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>
<% end %>





<% if @user.contractor != nil && @user.contractor.status == 'active' %>
<p>
  <strong>Certification</strong>
  <% if @user.try(:contractor).try(:certified) == true %>
    <%= image_tag 'green_tick.png' %>
  <% else %>
    <%= image_tag 'red_x.png' %>
  <% end %>
</p>

<% end %>

<% if @user.contractor != nil && @user.contractor.status == 'active' %>
<p>
  <strong>Verified by SpeciaList™</strong>
    <% if @user.try(:contractor).try(:verified) == true %>
      <%= image_tag 'green_tick.png' %>
    <% else %>
      <%= image_tag 'red_x.png' %>
    <% end %>
</p>
<% end %>


<% if can? :update, @user  %>
<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>
<% end %>


<% if can? :update, @user %>
  <%= link_to 'Edit User Profile', edit_user_path(@user) %> |
<% end %>





<p>
<% if current_user.try(:geocoded?) && current_user!=@user%>
  <strong> Distance away:</strong> <%= current_user.distance_from(@user).round(2) %> miles 
<% end %>
</p>
</div>

<br>
<br/>



<% if @user.contractor != nil %>
<% if can? :update, @user%>
  <td><%= link_to 'Edit Contractor Profile', edit_contractor_path(@user.contractor) %></td>
<% end %>
<% end %>

<% if @user.contractor != nil %>
  <% if can? :update, @user %>
    <% if @user.contractor.try(:status) == 'active' %>
      <%= form_for @user.contractor, method: :patch do |f| %>
      <%= f.hidden_field :status, :value => nil -%>
      <%= f.submit 'Disable Contractor Profile' %>
  <% end %>
<% end %>







<% if @user.contractor.try(:status) != 'active' %>
  <%= form_for @user.contractor, method: :patch do |f| %>
    <%= f.hidden_field :status, :value => 'active' -%>
    <%= f.submit 'Enable Contractor Profile' %>
  <% end %>
<% end %>

<% end %>
<% end %>


<ul class="accordion-tabs">
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="is-active tab-link"> <%=@user.first_name %>'s Active Listings</a>
    <div class="tab-content">
      <table class = 'tables'>
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Status</th>
                  <th>Category</th>
                </tr>
              </thead>

              <tbody>
                <% @user.listings.each do |listing| %>
                <% if listing.status == "uncontracted" %>
                  <tr>
                    <td> <%= link_to listing.title, listing_path(listing)  %> </td>
                    <td><%= listing.try(:status) %></td>
                    <% if listing.booking != nil %>
                    <td> <%= link_to listing.try(:booking).try(:offer).try(:user).try(:first_name), user_path(listing.try(:booking).try(:offer).try(:user))  %> </td>
                    <% end %>
                    <td> <%= link_to listing.category.name, category_path(listing.category) %> </td>
                  </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="tab-link"><%=@user.first_name %>'s Active Projects</a>
    <div class="tab-content">
      <table class = "tables">
        
            <thead>
              <tr>
                <th>Title</th>
                <th>Total Cost (₦)</th>
                <th>Status</th>
                <th>Contractor</th>
                <th>Category</th>
              </tr>
            </thead>

            <tbody>
              <% @user.listings.each do |listing| %>
              <% if listing.try(:booking).try(:status) == 'active' %>
                <tr>
                  <td> <%= link_to listing.title, booking_path(listing.booking)  %> </td>
                  <td> ₦<%= listing.booking.offer.price %></td>
                  <td><%= listing.booking.try(:status) %></td>

                  <% if listing.booking != nil %>
                  <td> <%= link_to listing.booking.try(:offer).try(:user).try(:first_name), user_path(listing.try(:booking).try(:offer).try(:user))  %> </td>
                  <%else%>
                    <td> <p>TBD</p></td>
                  <% end %>
                  <td> <%= link_to listing.category.name, category_path(listing.category) %> </td>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="tab-link"><%=@user.first_name %>'s Completed Projects</a>
    <div class="tab-content">
      <table class = "tables">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Total Cost (₦)</th>
                  <th>Status</th>
                  <th>Contractor</th>
                  <th>Category</th>
                </tr>
              </thead>

              <tbody>
                <% @user.listings.each do |listing| %>
                <% if listing.try(:booking).try(:status) == 'complete' %>
                  <tr>
                    <td> <%= link_to listing.title, booking_path(listing.booking)  %> </td>
                    <td> ₦<%= listing.booking.offer.price %></td>
                    <td><%= listing.booking.try(:status) %></td>

                    <% if listing.booking != nil %>
                    <td> <%= link_to listing.booking.try(:offer).try(:user).try(:first_name), user_path(listing.try(:booking).try(:offer).try(:user))  %> </td>
                    <%else%>
                      <td> <p>TBD</p></td>
                    <% end %>
                    <td> 
                      <%= link_to listing.category.name, category_path(listing.category) %> 
                    </td>
                  </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>      
    </div>
  </li>
</ul>













      


    


      

  





