<p id="notice"><%= notice %></p>

<p>
  <%= @user.first_name %> <%= @user.last_name %>
</p>

<p>
  <%= link_to image_tag(@user.user_avatar.thumb.url), @user.user_avatar.detail.url %>
</p>


<% if @user.contractor != nil && @user.contractor.status == 'active' %>
<p>
  <strong>Job Category:</strong>
  <%= @user.try(:contractor).try(:category).try(:name) %>
</p>
<% end %>

<% if @user.contractor != nil && @user.contractor.status == 'active' %>
<p>
  <strong>Hourly Wage:</strong>
  ₦<%= @user.try(:contractor).try(:wage) %>
</p>
<% end %>

<% if @user.contractor != nil && @user.contractor.status == 'active' %>
<p>
  <strong>Status:</strong>
  <%= @user.contractor.status %>
</p>
<% end %>

<% if @user.contractor %>
<td> <strong>Expertise:</strong> <%= raw @user.contractor.try(:tag_list).map {|t| link_to t, tag_path(t)}.join(', ') %></td>
<% end %>


<% if can? :update, @user  %>
<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>
<% end %>


<% if @user.contractor != nil && @user.contractor.status == 'active' %>
<p>
  <strong>Certification</strong>
  <% if @user.try(:contractor).try(:certified) == true %>
    <%= image_tag 'green_tick.png' %>
  <% else %>
    <%= image_tag 'red_x.png' %>
  <% end %>
</p>

<% end %>

<% if @user.contractor != nil && @user.contractor.status == 'active' %>
<p>
  <strong>Verified by SpeciaList™</strong>
    <% if @user.try(:contractor).try(:verified) == true %>
      <%= image_tag 'green_tick.png' %>
    <% else %>
      <%= image_tag 'red_x.png' %>
    <% end %>
</p>
<% end %>


<% if can? :update, @user  %>
<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>
<% end %>




<p>
<% if current_user.try(:geocoded?) && current_user!=@user%>
  <strong> Distance away:</strong> <%= current_user.distance_from(@user).round(2) %> miles 
<% end %>
</p>

<br/>

<% if @user.contractor != nil %>
  <% if can? :update, @user %>
    <% if @user.contractor.try(:status) == 'active' %>
      <%= form_for @user.contractor, method: :patch do |f| %>
      <%= f.hidden_field :status, :value => nil -%>
      <%= f.submit 'Disable Contractor Profile' %>
  <% end %>
<% end %>


<% if can? :update, @user %>
  <%= link_to 'Edit User Profile', edit_user_path(@user) %> |
<% end %>

<% if can? :update, @user%>
  <td><%= link_to 'Edit Contractor Profile', edit_contractor_path(@user.contractor) %></td>
<% end %>



<% if @user.contractor.try(:status) != 'active' %>
  <%= form_for @user.contractor, method: :patch do |f| %>
    <%= f.hidden_field :status, :value => 'active' -%>
    <%= f.submit 'Enable Contractor Profile' %>
  <% end %>
<% end %>

<% end %>
<% end %>


<table>
  <h2> <%=@user.first_name %>'s Active Listings</h2>
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.listings.each do |listing| %>
    <% if listing.status == "uncontracted" %>
      <tr>
        <td> <%= link_to listing.title, listing_path(listing)  %> </td>
        <td><%= listing.try(:status) %></td>
        <% if listing.booking != nil %>
        <td> <%= link_to listing.try(:booking).try(:offer).try(:user).try(:first_name), user_path(listing.try(:booking).try(:offer).try(:user))  %> </td>
        <% end %>
        <td> <%= link_to listing.category.name, category_path(listing.category) %> </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<table>
  <h2><%=@user.first_name %>'s Active Projects</h2>
  <thead>
    <tr>
      <th>Title</th>
      <th>Total Cost (₦)</th>
      <th>Status</th>
      <th>Contractor</th>
      <th>Category</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.listings.each do |listing| %>
    <% if listing.try(:booking).try(:status) == 'active' %>
      <tr>
        <td> <%= link_to listing.title, booking_path(listing.booking)  %> </td>
        <td> ₦<%= listing.booking.offer.price %></td>
        <td><%= listing.booking.try(:status) %></td>

        <% if listing.booking != nil %>
        <td> <%= link_to listing.booking.try(:offer).try(:user).try(:first_name), user_path(listing.try(:booking).try(:offer).try(:user))  %> </td>
        <%else%>
          <td> <p>TBD</p></td>
        <% end %>
        <td> <%= link_to listing.category.name, category_path(listing.category) %> </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<table>
  <h2><%=@user.first_name %>'s Completed Projects</h2>
  <thead>
    <tr>
      <th>Title</th>
      <th>Total Cost (₦)</th>
      <th>Status</th>
      <th>Contractor</th>
      <th>Category</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.listings.each do |listing| %>
    <% if listing.try(:booking).try(:status) == 'complete' %>
      <tr>
        <td> <%= link_to listing.title, booking_path(listing.booking)  %> </td>
        <td> ₦<%= listing.booking.offer.price %></td>
        <td><%= listing.booking.try(:status) %></td>

        <% if listing.booking != nil %>
        <td> <%= link_to listing.booking.try(:offer).try(:user).try(:first_name), user_path(listing.try(:booking).try(:offer).try(:user))  %> </td>
        <%else%>
          <td> <p>TBD</p></td>
        <% end %>
        <td> <%= link_to listing.category.name, category_path(listing.category) %> </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>





