<%= form_for(@contractor) do |f| %>
  <% if @contractor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contractor.errors.count, "error") %> prohibited this contractor from being saved:</h2>

      <ul>
      <% @contractor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :category_id, 'Type of Work' %><br>
    <%= f.collection_select(:category_id, Category.all, :id, :name, prompt: true) %>
  </div>
  <div class="field">
    <%= f.label :wage, 'Hourly Salary' %><br>
    <%= f.number_field :wage, placeholder: 'How much do you charge per hour? e.g. 2500' %>
  </div>
  <div class="field">
    <%= f.label :tag_list  %>
    <%= f.text_field :tag_list, placeholder: "What do you specialize in? e.g. toilets, showers, pipes, drainage, sewage, etc" %>
  </div>

  <% if current_user.role == 'admin' %>
    <div class="field">
      <%= f.label :certified %><br>
      <%= f.check_box :certified %>
    </div>
    <div class="field">
      <%= f.label :verified %><br>
      <%= f.check_box :verified %>
    </div>
  <% end %>
  <%= f.hidden_field :user_id, :value => @contractor.user.try(:id) || current_user.try(:id) %>

  <div class="actions">
    <%= f.submit "Make me a Contractor!" %>
  </div>
<% end %>
