<% if can? :create, Listing %>
To hire a worker, Click <%= link_to 'Here', new_listing_path %>
<% end %>
<br/>
<br/>

<div id="tag_cloud">
  <% tag_cloud Contractor.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class  %>
  <% end %>
</div>
<br>
<br>

<%= search_form_for @q, url: request.path do |f| %>
  <p>
    <%= f.label :tags_name_cont %>
    <%= f.text_field :tags_name_cont %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<table class='tables'>
  <thead>
    <tr>
      <th><%= sort_link @q, :wage %></th>
      <th><%= sort_link @q, :certified %></th>
      <th><%= sort_link @q, :verified %></th>
      <th>User</th>
      <th>Category</th>
      <th><%= sort_link @q, :distance %></th>
      <th>Expertise</th>
      <th colspan="7"></th>
      
    </tr>
  </thead>

  <tbody>
    <% @contractors.where(status: 'active').each do |contractor| %>
      <tr>
        <td>₦<%= contractor.wage %></td>

        <% if contractor.status == 'active' %>
          <% if contractor.try(:certified) == true %>
          <td><%= image_tag 'green_tick.png' %></td>
          <% else %>
          <td><%= image_tag 'red_x.png' %></td> 
          <% end %>
        <% end %>

        <% if contractor.status == 'active' %>
          <% if contractor.try(:verified) == true %>
          <td><%= image_tag 'green_tick.png' %></td>
          <% else %>
          <td><%= image_tag 'red_x.png' %></td> 
          <% end %>
        <% end %>

        <td>
          <% if contractor.user %>
            <%= link_to contractor.try(:user).try(:first_name), user_path(contractor.try(:user))  %>
          <% end %>
        </td>
        
      
        <% if contractor.category != nil %>
        <td>
          <%= link_to contractor.category.name, category_path(contractor.category) %>
        </td>
        <% else %>
        <td> Not Listed</td>
        <% end %>



      <% if current_user %>
        <% if current_user.try(:geocoded?) %> 
          <td>
            <%= current_user.distance_from(contractor.user).round(3) %> miles away
          </td> 
        <% end %>

        <td><%= raw contractor.try(:tag_list).map {|t| link_to t, tag_path(t)}.join(', ') %></td>
      <% end %>



        <% if can? :edit, contractor%>
        <td><%= link_to 'Edit', edit_contractor_path(contractor) %></td>
        <% end %>
        <% if can? :destroy, contractor %>
        <td><%= link_to 'Destroy', contractor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>


    




<br>



