<p id="notice"><%= notice %></p>

<p>
  <strong>Wage:</strong>
  <%= @contractor.wage %>
</p>

<p>
  <strong>Certified:</strong>
  <%= @contractor.certified %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @contractor.verified %>
</p>

<p>
  <strong>User:</strong>
  <%= @contractor.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @contractor.category_id %>
</p>

<% if can? :edit, @contractor %>
<%= link_to 'Edit', edit_contractor_path(@contractor) %> |
<% end %>
<%= link_to 'Back', contractors_path %>
