<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @offer.price %> </br>
</p>
<%= @offer.user_id %></br>
<%= @offer.status %></br>

<% if can? :update, Offer  %>
<%= link_to 'Edit', edit_offer_path(@offer) %> |
<% end %>

<%= link_to 'Back', offers_path %>
