<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @offer.price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @offer.status %>
</p>

<p>
  <strong>Listing:</strong>
  <%= @offer.listing_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @offer.user_id %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
