<% if can? :create, Listing %>
To have workers bid on your project, Click <%= link_to 'Here', new_listing_path %>
or
<% end %>
<p>Find workers by category:</p>


<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, contractors_path() %></td>
        
        <% if can? :edit, Category %>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <% end %>
        <% if can? :destroy, Category %>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Category %>
<%= link_to 'New Category', new_category_path %>
<% end %>
