<p id="notice"><%= notice %></p>



  <strong><%= @category.name %></strong>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Budget ₦</th>
        <th>Image</th>
        <th>Status</th>
        <th>Client</th>
        <th>Distance</th>
        <th colspan="6"></th>
      </tr>
    </thead>
    
     
    <tbody>
      <% @category.listings.where(status: 'uncontracted').each do |listing| %>
        <tr>
          <td> <%= link_to listing.title , listing_path(listing)  %> </td>
          <td>₦<%= listing.budget %></td>
          <td><%= listing.image %></td>
          <td><%= listing.status %></td>
          <td><%= link_to listing.user.first_name, user_path(listing.user)  %></td>
          <% if current_user %>
          <td><%= current_user.distance_from(listing.try(:user)).round(2) %> miles</td>
          <% end %>
         
          <% if can? :edit, listing %>
          <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
          <% end %>
          <% if can? :destroy, listing %>
          <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>





<% if can? :create, Category  %>
<%= link_to 'Edit', edit_category_path(@category) %> |
<% end %>

<%= link_to 'Back', categories_path %>
