<!DOCTYPE html>
<html>
<head>
  <title>SpeaciaList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <div class='login'>
      <% if current_user %>
       <%= link_to current_user.first_name, user_path(current_user.id) %> 
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        

      <% else %>
        <%= link_to "Sign In", new_user_session_path %>
        <%= link_to "Register", new_user_registration_path %>
      <% end %>
      <%= link_to 'Listings', listings_path  %>
      <%= link_to 'Bookings', bookings_path  %>
      <%= link_to 'Contractors', contractors_path  %>
      <%= link_to 'Categories', categories_path  %>
    </div>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
