<!DOCTYPE html>
<html>
<head>
  <title>SpeaciaList</title>
  <link href='//fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>

  <header class="navigation" role="banner">
    <div class="navigation-wrapper" id="navigation-wrapper-2">
      <h1>
        <%= link_to 'SpeciaList', contractors_path, :id => "cursive_logo", :class=>"logo"  %>
      </h1>
      <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
      <nav role="navigation">
        <ul id="js-navigation-menu" class="navigation-menu show">
            <% if current_user %>
            <li class="nav-link"> 
             <%= link_to current_user.first_name, user_path(current_user.id) %> 
           </li>
           <li class="nav-link">
             <%= link_to "Log out", destroy_user_session_path, method: :delete %>
           </li>
              

            <% else %>
            <li class="nav-link">
              <%= link_to "Sign In", new_user_session_path %>
            </li>
            <li class="nav-link">
              <%= link_to "Register", new_user_registration_path %>
            </li>
            <% end %>
            <li class="nav-link">
            <%= link_to 'Hire a Specialist', new_listing_path, :class => 'call_to_action'  %>
          </li>
          <li class="nav-link">
            <%= link_to 'Earn Money', listings_path  %>
          </li>
          <li class="nav-link">
            <%= link_to 'Completed Projects', bookings_path  %>
          </li>
          
        </ul>
      </nav>
    </div>
  </header>




    
</head>
<body>
  <div class="wrapper">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>
  </div>

</body>
</html>
